<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap5.3/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/new-seminar-icon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles-login.css' %}">
    
</head>
<body>
    <img src="{% static 'img/fmcb.svg' %}" alt="Logo" class="corner-logo">
    
    <div class="page-wrapper">
        <header class="page-header">
            <img src="{% static 'img/new seminar icon.png' %}" alt="Logo" class="seminar-logo">
            <h1>Seminar Form Submission</h1>
        </header>

        <div class="container-no-bootstrap">
            <div class="form-box">
              
                <!-- <form id="auth-form">
                    <div class="input-group">
                        <i class="fas fa-user"></i>
                        <input type="text" id="name" placeholder="Full Name">
                    </div>
                    <div class="input-group">
                      <i class="fa-solid fa-at"></i>
                        <input type="text" id="user" placeholder="Username">
                    </div>
                    <div class="input-group">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="password" placeholder="Password">
                    </div>
                    <button type="submit" id="submit-btn">Login</button>
                    <p class="toggle-text">Don't have an account? <span id="toggle-btn">Sign Up</span></p>
                </form> -->
                <!-- Login Form -->
                <form method="POST" id="auth-form">
                  {% csrf_token %}
                  
                  <!-- Login Form -->
                  <div id="login-form" class="auth-form">
                      <h2>Account login</h2>
                      <div class="input-group">
                          <i class="fas fa-user"></i>
                          {{ login_form.username }}
                      </div>
                      <div class="input-group">
                          <i class="fas fa-lock"></i>
                          {{ login_form.password }}
                      </div>
                      <button type="submit" id="submit-btn" name="login">Login</button>
                      <p class="toggle-text">Don't have an account? <span id="toggle-to-signup" onclick="toggleForm()">Sign Up</span></p>
                  </div>
              
                  <!-- Register Form -->
                  <div id="signup-form" class="auth-form" style="display: none;">
                      <h2>Create an account</h2>
                      <div class="input-group">
                          <i class="fas fa-user"></i>
                          {{ signup_form.full_name }}
                      </div>
                      <div class="input-group">
                          <i class="fa-solid fa-at"></i>
                          {{ signup_form.username }}
                      </div>
                      <div class="input-group">
                          <i class="fas fa-lock"></i>
                          {{ signup_form.password }}
                      </div>
                      <div class="input-group">
                          <i class="fas fa-lock"></i>
                          {{ signup_form.confirm_password }}
                      </div>
                      <button type="submit" id="submit-btn" name="signup">Sign Up</button>
                      <p class="toggle-text">Already have an account? <span id="toggle-to-login" onclick="toggleForm()">Login</span></p>
                  </div>
              </form>

        <!-- <p class="toggle-text">
            {% if toggle == 'login' %}
                Don't have an account? <span id="toggle-btn" onclick="toggleForm()">Sign Up</span>
            {% else %}
                Already have an account? <span id="toggle-btn" onclick="toggleForm()">Login</span>
            {% endif %}
        </p> -->

            </div>
        </div>
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa-solid fa-circle-info"></i> &nbspClick me for more info!
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body text-white">
                A seminar form submission for students in Biomedical Sciences 
                Ph.D or any Ph.D that requires the attendence in several seminars per year in the university of Algarve.
            </div>
          </div>
        <p class="footer-paragraph">
            © Bernardo Estevam - Seminar Form Submission. All rights reserved, <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script>
        </p>   
    </div>

<!-- <script>
    function toggleForm() {
        var currentToggle = document.getElementById("form-title-no-bootstrap").textContent.trim();
        window.location.href = "{% url 'auth' %}?toggle=" + (currentToggle === "Create an Account" ? "login" : "signup");
    }
</script> -->

<script>
  function toggleForm() {
      // Get both forms by their IDs
      var loginForm = document.getElementById('login-form');
      var signupForm = document.getElementById('signup-form');

      // Toggle the visibility of the forms
      if (loginForm.style.display === 'none') {
          // Show the login form and hide the signup form
          loginForm.style.display = 'block';
          signupForm.style.display = 'none';
      } else {
          // Show the signup form and hide the login form
          loginForm.style.display = 'none';
          signupForm.style.display = 'block';
      }
  }
</script>

<script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/scriptLogin.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap5.3/bootstrap.bundle.min.js' %}"></script>
</body>
</html>