<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>PhD Seminar Form CB - Login</title>
</head>
<body>

<nav>
    <img src="{% static 'img/ualg-logo.png' %}">
    <h1>Biomedical Sciences PhD Seminar Form Filling</h1>
</nav>
    
<div class="container">
<h3>Login Page</h3>


<form method="POST">
    {% csrf_token %}
    {{form}}
    <button type="submit">Submit</button>
</form>
    <div>You dont have an account?</div>
    <a href="{% url 'register' %}">Register</a>
</div>



<script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>