<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap5.3/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/worksheet.ico' %}">
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Optional Theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_green.css">
    <script src="https://www.google.com/recaptcha/api.js?render=6LcCIBgrAAAAACrpOCJRbkt6kAtwosKroB7Typs7"></script>


    <title>PhD Seminar Form CB - Form Filling</title>
</head>
<body>

<div class="page-wrapper">

    <header class="header-section">
        <nav class="navbar-style">
            
            <h1>Biomedical Sciences Ph.D - ABC-Ri Seminar Form Filling</h1>
            <img src="{% static 'img/Logo_ABCRI.png' %}" alt="Worksheet Logo" class="corner-logo">
            
        </nav>

        <div class="login-info">
            <div>
                Welcome! You are logged in as <b><u>{{ user.first_name }} {{ user.last_name }}</u></b>
            </div>
            <a class="logout-button" href="{% url 'logout' %}">Logout</a>
        </div>
    </header>

    <main class="form-container">
        <form action="add-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Seminar title:</p>
            {{ form.seminar_title }}
            <p>Seminar Speaker:</p>
            {{ form.seminar_speaker }}
            <p>Seminar Date:</p>
            {{ form.seminar_date }}
            <p>Seminar verification code:</p>
            {{ form.verification_code }}
            <input type="hidden" name="recaptcha_token" id="recaptcha_token">
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script>
          flatpickr(".flatpickr", {
            dateFormat: "Y-m-d",
            minDate: "today",
            allowInput: true,
          });
        </script>

        
        <!-- {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-dismissible fade show {% if message.tags == 'success' %}alert-success{% else %}alert-warning{% endif %}" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
        {% endif %} -->
    {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-warning{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}

        <a href="{% url 'full-list' %}" class="btn btn-success">View seminar list for {{ user.get_username }}</a>
    </main>

</div>

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap5.3/bootstrap.bundle.min.js' %}"></script>
<script>
  grecaptcha.ready(function() {
    grecaptcha.execute('6LcCIBgrAAAAACrpOCJRbkt6kAtwosKroB7Typs7', { action: 'submit' }).then(function(token) {
      // Add the token to the hidden input field before submitting the form
      document.getElementById('recaptcha_token').value = token;
    });
  });
</script>
</body>
</html>
