<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap5.3/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/worksheet.ico' %}">
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Optional Theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_green.css">

    <title>PhD Seminar Form CB - Form Filling</title>
</head>
<body>

<div class="page-wrapper">

    <header class="header-section">
        <nav class="navbar-style">
            
            <h1><u>Biomedical Sciences Ph.D</u> - ABC-Ri Seminar Form Filling</h1>
            <img src="{% static 'img/Logo_ABCRI.png' %}" alt="Worksheet Logo" class="corner-logo">
            
        </nav>

        <div class="login-info">
            <div>
                Welcome! You are logged in as <b><u>{{ user.first_name }} {{ user.last_name }}</u></b>
            </div>
            <a class="logout-button" href="{% url 'logout' %}">Logout</a>
        </div>
    </header>

    <main class="form-container">
        <form action="add-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Seminar title:</p>
            {{ form.seminar_title }}
            <p>Seminar Speaker:</p>
            {{ form.seminar_speaker }}
            <p>Seminar Date:</p>
            {{ form.seminar_date }}
            <p>Seminar verificaiton code:</p>
            {{ form.verification_code }}
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script>
          flatpickr(".flatpickr", {
            dateFormat: "Y-m-d",
            minDate: "today",
            allowInput: true,
          });
        </script>

        {% if main_page %}
        {% elif submitted %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Your seminar form was submitted successfully!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Something went wrong with your form submission. Try again.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <a href="{% url 'full-list' %}" class="btn btn-success">View seminar list for {{ user.get_username }}</a>
    </main>

</div>

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap5.3/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
